
<h1> Welcome to Buy it All </h1>

<h3> We have the finest menagerie of beasts available.</h3>

<h3> Beastly list:</h3>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product %></li>
    <% end %>
</ul>
