<h1> <%=@product.name %> </h1>

<h2> $<%=@product.price%>0 </h2>

<p> A flying animal of your choice - fantastic for reaching high places </p>

<a class="btn btn-success" href="/post/buy">Buy Now not currently working</a>

<div>
<a class="btn btn-danger" href="/products">Home</a>
</div>
